
<div *ngIf="!!dataSource" class="content-list">
    <!-- filter input field -->
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" [placeholder]="placeholder">
    </mat-form-field>
    <!-- Content list section -->
    <div class="content-table">
        <table [dataSource]="dataSource"
            class="mat-elevation-z8 "
            mat-table>
          <ng-container matColumnDef="color_button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">  
                <button mat-mini-fab 
                [matTooltip]="getMessageTooltip(element.name)"
                matTooltipPosition="after"
                class="copy-button"
                [style.backgroundColor]="element.color"
                (click)="onCopyAction(element.name, element.color)"
                ></button>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="color_name">
            <th mat-header-cell *matHeaderCellDef> Color Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name | uppercase }} </td>
          </ng-container>
        
          <ng-container matColumnDef="color_code">
            <th mat-header-cell *matHeaderCellDef> Color Code </th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
          </ng-container>
        
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
          </ng-container>

          <ng-container matColumnDef="pantone">
            <th mat-header-cell *matHeaderCellDef> Pantone Value </th>
            <td mat-cell *matCellDef="let element"> {{element.pantone_value}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>
<!-- Footer (only mobile) -->
<footer 
  fxShow="false"
  fxShow.xs="true" 
  fxShow.sm="true">
  <mat-toolbar color="primary" class="footer">
      <mat-toolbar-row>
          <span >Click the circle to copy the color code</span>
      </mat-toolbar-row>
  </mat-toolbar>
</footer>