<div class="filter"
    fxLayout="row wrap"
    fxLayoutAlign="space-around center stretch"
    fxLayout.xs="column wrap"
    fxLayout.sm="column wrap"
    fxLayoutGap="0.5%">
    <mat-form-field fxFlex="100%">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. sand dollar, or #DECDBE">
    </mat-form-field>
</div>
<div *ngIf="!!colorData"
    class="container" 
    fxLayout="row wrap"
    fxLayoutAlign="space-around center stretch"
    fxLayout.xs="column wrap"
    fxLayout.sm="column wrap"
    fxLayoutGap="0.5%">
    <app-color-element 
        fxFlex="30%"
        fxFlex.sm="0 1 50%"
        fxFlex.xs="0 1 50%"
        *ngFor="let color of colors | colorFilter:filterValue "
        [color]="color"
        [screenWidth]="currentScreenWidth"
    ></app-color-element>
</div>
<app-paginator
    *ngIf="!!colorData"
    [length]="colorData.total"
    [pageSize]="colorData.per_page"
    (pageChangeEvent)="changePage($event)"
></app-paginator>